.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
.img {
  width: 120px;
}

.name {
  display: list-item;
  list-style-type: square;
  list-style-position: outside;
}
